@model List<VehicleDto>

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light"></span>Araç Yönetimi</h4>
    <div class="card">

        <div class="table-responsive text-nowrap m-3">
            @{
                if (User.IsInRole($"{RoleConsts.Superadmin}"))
                {
                    <a class="btn btn-success mb-3" asp-area="Admin" asp-controller="Vehicle" asp-action="Add">
                        Araç Ekle +
                    </a>
                }
            }


            <table class="table table-bordered" id="vehiclesTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <td>Plakası</td>
                        <td>Modeli</td>
                        <td>Sürücü İsmi</td>
                        @{
                            if (User.IsInRole($"{RoleConsts.Superadmin}"))
                            {
                                <th>İşlemler</th>
                            }
                        }
                    </tr>
                </thead>
                <tfoot>
                </tfoot>

                <tbody class="table-border-bottom-0">
                    @foreach (var vehicle in Model)
                    {
                        <tr name="@vehicle.Id">
                            <td>@vehicle.Plate</td>
                            <td>@vehicle.Model</td>
                            <td>@vehicle.DriverName</td>
                            @{
                                if (User.IsInRole($"{RoleConsts.Superadmin}"))
                                {
                                    <td>
                                        <a class="btn btn-primary btn-sm" data-id="@vehicle.Id" asp-area="Admin" asp-controller="Vehicle" asp-action="Update" asp-route-vehicleId="@vehicle.Id"><i class="bx bxs-edit"></i></a>
                                        <a class="btn btn-danger btn-sm" data-id="@vehicle.Id" asp-area="Admin" asp-controller="Vehicle" asp-action="Delete" asp-route-vehicleId="@vehicle.Id"><i class="bx bx-minus-circle"></i></a>
                                    </td>
                                }
                            }

                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/js/vehicleIndex.js" type="application/ecmascript"></script>
}



