@model List<FieldDto>

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light"></span>Tarla Yönetimi</h4>
    <div class="card">

        <div class="table-responsive text-nowrap m-3">


            <a class="btn btn-success mb-3" asp-area="Admin" asp-controller="Field" asp-action="Add">
                Tarla Ekle +
            </a>






            <table class="table table-bordered" id="fieldsTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <td>İsmi</td>
                        <td>Lokasyonu</td>
                        <td>Dönümü</td>
                        <td>Toprak Tipi</td>
                        <td>Sahibi(Tarla Kaydını Oluşturan)</td>
                        <th>İşlemler</th>


                    </tr>
                </thead>
                <tfoot>
                </tfoot>

                <tbody class="table-border-bottom-0">
                    @foreach (var field in Model)
                    {
                        <tr name="@field.Id">
                            <td>@field.Name</td>
                            <td>@field.Location</td>
                            <td>@field.Size</td>
                            <td>@field.SoilType</td>
                            <td>@field.CreatedBy</td>
                            <td>
                                <a class="btn btn-primary btn-sm" data-id="@field.Id" asp-area="Admin" asp-controller="Field" asp-action="Update" asp-route-fieldId="@field.Id"><i class="bx bxs-edit"></i></a>
                                <a class="btn btn-danger btn-sm" data-id="@field.Id" asp-area="Admin" asp-controller="Field" asp-action="Delete" asp-route-fieldId="@field.Id"><i class="bx bx-minus-circle"></i></a>
                            </td>




                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/js/fieldIndex.js" type="application/ecmascript"></script>
}


