@model List<SensorDto>

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Çöp Kutusu /</span>Sensör Yönetimi</h4>
    <div class="card">

        <div class="table-responsive text-nowrap m-3">
            <table class="table table-bordered" id="sensorsTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <td>İsmi</td>
                        <td>Tipi</td>
                        <td>Tarlası</td>
                        <td>Kurulum Tarihi</td>
                        <td>Batarya Seviyesi</td>
                        <td>Durum</td>
                        @{
                            if (User.IsInRole($"{RoleConsts.Superadmin}"))
                            {
                                <td>İşlemler</td>
                            }
                        }
                        }
                    </tr>
                </thead>
                <tfoot>
                </tfoot>

                <tbody class="table-border-bottom-0">
                    @foreach (var sensor in Model)
                    {
                        <tr name="@sensor.Id">
                            <td>@sensor.Name</td>
                            <td>@sensor.Type</td>
                            <td>@sensor.Field.Name</td>
                            <td>@sensor.CreatedDate.ToLongDateString()</td>
                            <td>@sensor.BatteryLevel</td>
                            <td>@(sensor.IsDeleted ? "Çalışmıyor" : "Çalışıyor")</td>
                            <td>
                                @{
                                    if (User.IsInRole($"{RoleConsts.Superadmin}"))
                                    {
                                        <a class="btn btn-primary btn-sm" data-id="@sensor.Id" asp-area="Admin" asp-controller="Sensor" asp-action="UndoDelete" asp-route-sensorId="@sensor.Id"><i class='bx bx-undo'></i></a>
                                    }
                                }

                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/js/sensorIndex.js" type="application/ecmascript"></script>
}


